
*{
    margin: 0;
}

 html{
    min-width: 995px;
    font-family: 'Oswald', sans-serif;
} 

main{
    display: flex;
    flex-flow: row;
    justify-content:baseline;
    justify-items: stretch;
    align-items: stretch;
}

u{
    color: blue;
}

.icon{
    height: 30px;
    width: 30px;
    display:inline;
    position: relative;
    top: 7.4px;
    right: 4px

}


.navBar {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items :baseline;
    border: 2px ridge maroon;
    background: gray;
}

.navBar *{
    background: gray;
}

.navBar p {
    font-size: 19px;
    
}


.Link{
    
    background:whitesmoke;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    

}

h3{
    text-decoration: underline;
}

img{
    align-self: start;
    width: 189px;
    height: 189px;
    object-fit: fill;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.705);
}

.empty-left{
    margin: 0 auto;
    flex: 1;
    background-image:linear-gradient(black,white);
    border: 2px ridge maroon;
    border-top: none;
    
    
}

.empty-right{
    margin: 0 auto;
    flex: 1;
    background-image:linear-gradient(black,white);
    border: 2px ridge maroon;
    border-top: none;
   
    
    
}


footer{
    background: chartreuse;
    min-width: 850px;
    height: initial;
}

label{
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
}

select{
    border:2px ridge maroon;
    border-radius: 25px;
    color: maroon;
}

input{
    border:2px ridge maroon;
    border-radius: 25px;
    color: maroon;
}

button{
    border:2px ridge maroon; 
    border-radius: 25px;
    font-weight: bold;


}


h2{
    text-align: center;
    text-decoration: underline;
}
.home{
    width: 205mm;
    padding: 10px;
    height: 87vh;
    overflow-y: auto;
    background-image: url('https://wallpapercave.com/wp/wp3255660.jpg');
    background-size: cover;
    
}

.home a{
    border:2px ridge maroon; 
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background: white;
    padding: 7px;

}

.home h3 , .home p {
    text-shadow: 1px 1px white
}






.homeProductList {
    display:flex;
    border-top: 2px solid maroon;
    height: 204px;
    padding: 10px;
    background: rgba(202, 202, 202, 0.74);
}


.homeInfo, .products{
    display: flex;
    flex-flow: row;
    padding-left: 10px;
    height:172px;
    width:76%;
    
    
}

.info{
    width:50vh;
    font-family: 'Roboto', sans-serif;
    

}

.feature{
    display: flex;
    flex-flow: column;
    border-left:1px solid rgba(0, 0, 0, 0.288);
    width:500px;
    overflow-y:scroll; 
    padding-right: 8px;
    
    
     
}

.feature b, .feature p, .feature u{
    text-align: center;
    text-shadow: 1px 1px white
}

.feature li{
    text-shadow: 1px 1px white
}

.reviews{
    border: 2px ridge black;
    text-align: center;
    margin: 10px ;
    padding: 10px
}

.registerr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 230mm;
    padding: 5px;
    height: 88vh;
    background-image: url('https://wallpapercave.com/wp/wp3255660.jpg');
    align-content: center;
    
}
.register{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 205mm;
    padding: 10px;
    height: 88vh;
    overflow-y: auto;
    background-image: url('https://wallpapercave.com/wp/wp3255660.jpg');
    background-size: cover;
    align-content: center;
    
}
.img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center; 
}

.registerr h1{
    margin-top: 50px;
    text-align: center;
    text-shadow: 2px 2px maroon;
    font-size: 50px;
}

.register form, .intropage{
    background: rgba(202, 202, 202, 0.74);
    padding: 30px;
}

.register button{
    justify-self: center;
    width: 100%;
}

.register h1, .Admin{
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 1px 1px maroon
}


.register input{
    margin: 4px;
}


.cartH2{
    background: rgba(202, 202, 202, 0.74);
    padding: 30px;
    text-shadow: 1px 1px maroon
}

.cartProducts{
    background: rgba(202, 202, 202, 0.74);
    display: flex;
}

.cartProductInfo{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items:center;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
     
    
}

.checkout{
    width:100%;
}

#itemQuantity{
    float: right;
    width: 500px;
}

.removeItem{
    margin-bottom: 30px;
    padding: 10px; 
    text-shadow: 1px 1px white 
}

.removeItemGuest{
    margin-bottom: 10px;
    padding: 10px; 
    text-shadow: 1px 1px white 
}

.checkoutGuest{
    background: rgba(202, 202, 202, 0.74);
    display: flex;
    justify-content: center; 
}


/* .homeInfo p, b, h3{
   margin: auto;
} */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.288);
  }

  .search{
      min-height: 72px;
  }
  .searchBar{
    display: flex;
    align-items: baseline;
    font-size: 20px;
    padding-top: 10px;
  }

  .searchBar label{
      padding-right:3px;
  }

  .searchBar select{
    width: 75%;
  }

  .searchSelected{
    display: flex;
    align-items: baseline;
    font-size: 20px;
    padding-top: 10px;
  }

  .searchSelected label{
      padding-right:3px;
  }

  .searchSelected select{
    width: 75%;
  }

  .searchSelected input{
      width: 75%
  }

.listheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    font-size: 45px;
    text-shadow: rgba(128, 128, 128, 0.705);
}

.updateProduct, .myorders, .addproduct{
    width: 100mm;
    height: 91vh;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: space-around;
    gap: 10px 20px;
    margin-top: 20px;
    padding: 50px;
}
.myprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    background: rgba(202, 202, 202, 0.74) ;
}
.account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: 100px;
    border-style: double;
    border-color: rgb(143, 4, 4);
    padding: 20px;
    text-shadow: 1px 1px maroon
    
}
.username{
    font-family: Arial, Helvetica, sans-serif;
    border-style: ridge;
    margin: 5px;
    padding: 5px;
}
.myemail{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.myusers{
    padding: 10px;
    border-style: solid;
    border-color: rgb(143, 4, 4);
    margin: 10px;
    width: 500px;
    height: 50%;
    font-size: 10px;
}
.user {
    text-decoration-line: none;
    font-size: 30px;
    padding: 10px
}

.footer {
    margin: auto;
    padding: 1px;
    background-color: maroon;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Monoton', cursive;   
    display:flex;
    justify-content: space-evenly;

  }

  .footer p, .footer h1{
      font-size: 10px;
      color: white
  }

.userCart, .guestCart, .orders{
    width: 205mm;
    padding: 10px;
    height: 88vh;
    overflow-y: auto;
    background-image: url('https://wallpapercave.com/wp/wp3255660.jpg');
}
.intropage{
    display: flex;
    flex-direction: row;
    background: rgba(148, 109, 109, 0.877);
    padding: 50px;
    border-radius: 4%;
    font-size: 20px;
    margin: auto;
}
.rec{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: initial;
    margin: 50px;
    padding: 50px;
}
.img{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    border-color: ivory;
    border-style: solid;
}

.title{
    padding: 15px;
    font-family: 'Bungee Shade', cursive;
    text-shadow: 1px 1px maroon;
}

.titleIntro{
    font-family: 'Bungee Shade', cursive;
}

.iconIntro{
    box-shadow: none;
    height: 70px;
    width: 70px;
    display:inline;
    position: relative;
    top: 19px;
    right: 13px

}

